section {
    margin-left: 150px;
    margin-right: 150px;
    background-color: rgb(248, 242, 241);
    color: rgb(107, 99, 99);
    height: 600px;
    background-image: url(./images/bg-bottom.svg), url(./images/bg-top.svg);
    background-size: 280px, 240px;
    background-position: left bottom, right top;
    background-repeat: no-repeat;
    font-family: "Montserrat";
    font-weight: 700;
}
.price-toggle {
    height: 170px;
    width: 200px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 10px;
    
}
.toggle-row {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card1, .card2, .card3 {
    width:210px;
    height: 320px;
    background-color: white; 
    border-radius: 5px; 
}
.card1 {
     box-shadow: -4px 6px 10px 2px rgb(228, 223, 223);
    }
.card2 {
    box-shadow: 2px 6px 10px 2px rgb(228, 223, 223)  ;
    margin-left: 3px;
    margin-right: 3px;
}
.card3 {
    box-shadow: 4px 6px 10px 2px rgb(228, 223, 223)  ;
}
.prices-card {
    display: flex;
}
ul li.price {
    font-size: 40px;
    padding-bottom: 20px;
}
ul {
    list-style: none;
    padding: 20px 20px 20px 20px;
    
}
li {
    padding: 9px 7px;
    text-align: center;
    border-bottom: 1px solid rgb(182, 178, 178);
}
.list1, .list6 {
    border-bottom: 0 none;
}
.list6 { padding-top: 15px;}

li .btn {
    border-style: none;
    width: 171px;
    height: 25px;
    margin-left: -7.5px;
    border-radius: 5px;
    background-color: rgb(71, 71, 197);
    color: white;
}
.card:hover {
    background-color: rgb(60, 60, 238);
    color: white;
    transform: scale(1, 1.12);
}
.card:hover > ul li .btn {
    background-color: white;
    color: rgb(72, 72, 226);
}
